%% 脚本所在目录
{src_dir, "/src/Script/"}.
%% 输出一个文件
{one_output, true}.
%% 输出脚本模块目录
{dst_dir, "./script"}.
%% 输出脚本模块名称
{mod_name, xscript_mod_script}.
%% TODO 输出模板扩展
{template, [
    {head, "-include(\"xscript.hrl\").\n-compile(export_all).\n"}
]}.
%% 实现脚本功能的模块列表
{def_mods, [xscript_function_define]}.
{std_mods, [erlang]}.
{doc, [
    {dir, "./doc/script_api/"},
    {title, "API"}
]} .